

.dashboard-layout {
    min-height: 0;
    margin: 0 auto;
    // max-width: 1000px;
    margin: 0 1rem;
}


@media screen and (max-width: 800px) {
    .dashboard-layout {
        margin: 0 1rem;
    }
}