<div class="squad-selection-container">
    <!-- <h2 class="header">Squad Selection</h2> -->
<h2>Fantasy Team Name: {{ fantasyTeamName }}</h2>
    <mat-card>
        <mat-card-content>
            <div class="basic-info">
                <div style="flex: 50%">
                    <p>Players Selected</p>
                    <p><strong>{{playersSelected}}/15</strong></p>
                </div>
                <div style="flex: 50%">
                    <p>Money Remaing</p>
                    <p><strong>{{moneyRemaining}}</strong></p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <h2> Goalkeepers </h2>
            <table mat-table [dataSource]="goalKeepersDataSource">
                <ng-container matColumnDef="player">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let data; index as i">
                        <button mat-button (click)="playerSelected(data, i)"> {{data.name}} </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>Cost</th>
                    <td mat-cell *matCellDef="let data">{{ data.cost }}</td>
                </ng-container>

                <ng-container matColumnDef="totalPoints">
                    <th mat-header-cell *matHeaderCellDef>Total Points</th>
                    <td mat-cell *matCellDef="let data">{{ data.totalPoints }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <h2> Defenders </h2>
            <table mat-table [dataSource]="defendersDataSource">

                <ng-container matColumnDef="player">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let data; index as i">
                        <button mat-button (click)="playerSelected(data, i)"> {{data.name}} </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>Cost</th>
                    <td mat-cell *matCellDef="let data">{{ data.cost }}</td>
                </ng-container>

                <ng-container matColumnDef="totalPoints">
                    <th mat-header-cell *matHeaderCellDef>Total Points</th>
                    <td mat-cell *matCellDef="let data">{{ data.totalPoints }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <h2> Midfielders </h2>
            <table mat-table [dataSource]="midfieldersDataSource">

                <ng-container matColumnDef="player">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let data; index as i">
                        <button mat-button (click)="playerSelected(data, i)"> {{data.name}} </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>Cost</th>
                    <td mat-cell *matCellDef="let data">{{ data.cost }}</td>
                </ng-container>

                <ng-container matColumnDef="totalPoints">
                    <th mat-header-cell *matHeaderCellDef>Total Points</th>
                    <td mat-cell *matCellDef="let data">{{ data.totalPoints }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>


    <mat-card>
        <mat-card-content>
            <h2> Forwards </h2>
            <table mat-table [dataSource]="forwardsDataSource">

                <ng-container matColumnDef="player">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let data; index as i">
                        <button mat-button (click)="playerSelected(data, i)"> {{data.name}} </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>Cost</th>
                    <td mat-cell *matCellDef="let data">{{ data.cost }}</td>
                </ng-container>

                <ng-container matColumnDef="totalPoints">
                    <th mat-header-cell *matHeaderCellDef>Total Points</th>
                    <td mat-cell *matCellDef="let data">{{ data.totalPoints }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>

    <button style="margin-top: 10px;" mat-raised-button color="primary"
    (click)="updateFantasySqaud()" [disabled]="!allPlayersSelected"> Enter Team </button>
</div>