@use 'sass:map';
@use '@angular/material' as mat;
@import 'src/my-theme';


$color-config: mat.get-color-config($my-theme);

// get the chosen palette : primary, accent, warn
$primary-palette: map.get($color-config, 'primary');

.header {
    color: mat.get-color-from-palette($primary-palette, 700);
}

.basic-info {
    display: flex;
    align-items: center;
}

.squad-selection-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}